$gray-50: #F8F8FA;
$gray-200: #E7E7EC;
$gray-300: #707888;
$gray-400: #8A8A8A;
$gray-500: #6F7787;
$gray-600: #3C4557;
$gray-800: #0B172D;
$gray-900: #262626;
$blueGray-400: #ADB6C8;
$green-300: #42D782;
$green-400: #14B59A;
$green-500: #07A88D;
$blue-50: #F2F6FE;
$blue-200: #BDD3F9;
$blue-300: #A6C6FF;
$blue-400: #5888DB;
$blue-500: #1456CB;
$blue-700: #073382;
$blue-800: #09224F;
$blue-900: #072863;
$teal-400: #0A7FAE;